<main>
  <section class="container">
    <div class="content">
      <div class="content__text">
        <div>
          <h1>Retorne à escuridão<br> com o game Diablo IV</h1>
          <p>O retorno de Lilith traz uma era de escuridão e sofrimento</p>
        </div>
        <button class="content__text--button">Jogue agora</button>

        <div class="content__text--list">
          <ul>
            <li>
              <img src="assets/teste/diabloIV.png" alt="">
            </li>
            <li>
              <img src="assets/teste/heartstone.png" alt="">
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>

    </div>
  </section>
  <div class="progress" style="height: 3px;">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</main>
