main{
  // background-image: url("/assets/teste/bg-banner.jpg");
  background-image: url("/assets/teste/bg-banner-tablet.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.teste{
  max-width: 100%;
}

.container{
  padding-top: 100px;
  color: #fff;
}

.content{
  &__text{

    h1{
      font-size: 40px;
      line-height: 1.2;
      margin: 0;
      margin-bottom: 16px;
      font-weight: 700;
      width: 80%;

      @media (min-width: 768px) {
        font-size: 64px;
      }
    }

    p{
      font-size: 18px;
      margin: 0;
      font-weight: 400;
    }

    &--button{
      background-color: #00AEFF;
      color: #fff;
      border: 0;
      border-radius:5px;
      height: 52px;
      width: 168px;
      margin-bottom: 48px;
      font-weight: 600;
      margin-top: 32px;
    }

    &--list{
      ul{
        display: flex;
        padding: 0;
        margin: 0;
        padding-bottom: 68px;

        li{
          margin-right: 16px;
        }
        li:last-child{
          margin: 0;
        }
      }
    }
  }
}
