<main>
  <div>
    <div class="container">
      <img class="container__image-logo" src="assets/footer/logo.png" alt="">
      <div class="container__forms">
        <form>
          <input type="text" placeholder="E-mail ou telefone" class="container__forms--input">
          <input type="text" placeholder="Senha" class="container__forms--input">
          <button class="container__forms--button">
            Conectar-se
        </button>
        </form>
        <p>ou conecte-se com </p>
        <div class="container__forms--rede-socias">
          <div class="google">
            <button>
              <img src="/assets/login/google.svg" alt="">
            </button>
          </div>
          <button>
            <img src="/assets/login/apple.svg" alt="">
          </button>
          <button>
            <img src="/assets/login/facebook.svg" alt="">
          </button>
        </div>
        <div class="container__forms--criar-conta">
          <a>Crie uma conta Battle.net de graça</a>
          <a>Não consegue logar? </a>
        </div>
      </div>
    </div>
  </div>
</main>
